<html>
<body>
<script>
            document.addEventListener("DOMContentLoaded", function() {
            const submitBtn = document.getElementById("predict_btn");

          submitBtn.addEventListener("click", function(event) {
            event.preventDefault()
            const inputData = document.getElementById("companies").value;
            const data = {
              client: inputData,
            };
            const client_label = document.getElementById("client_label");
                client_label.textContent = inputData;

            fetch("/predict_stock", {
              method: "POST",
              headers: {
                "Content-Type": "application/json"
              },
              body: JSON.stringify(data)
            })
            .then(response => {
              if (response.ok) {
                return response.json();
              } else {
                console.error("POST request failed!");
              }
            })
			.then(data => {
				const tableBody = document.querySelector('#result_table tbody');
                tableBody.innerHTML = '';
                yest_map = data.yesterday_map;
                today_price = data.today_prices;
                tom_pred = data.today_map;
                var row = document.createElement('tr');
                var cell = document.createElement('td');
                cell.textContent = "Yesterday's prediction";
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = yest_map.open;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = yest_map.high;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = yest_map.low;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = yest_map.avg;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = yest_map.volume;
                row.appendChild(cell);
                tableBody.appendChild(row)

                row = document.createElement('tr');
                cell = document.createElement('td');
                cell.textContent = "Today's prices";
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = today_price.open;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = today_price.high;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = today_price.low;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = "--";
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = today_price.volume;
                row.appendChild(cell);
                tableBody.appendChild(row)

                row = document.createElement('tr');
                cell = document.createElement('td');
                cell.textContent = "Tommorow's Predictions";
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = tom_pred.open;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = tom_pred.high;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = tom_pred.low;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = tom_pred.avg;
                row.appendChild(cell);
                cell = document.createElement('td');
                cell.textContent = tom_pred.volume;
                row.appendChild(cell);
                tableBody.appendChild(row)

                const label = document.getElementById("result_label")
                label.textContent = "Accuracy of the above model is: "+ tom_pred.avg_accuracy;
			})
            .catch(error => {
              console.error("Error occurred:", error);
            });
          });
        });
        </script>
<div>
  <link href={{ url_for('static', filename='index.css') }} rel="stylesheet" />
  <div class="home-container">
    <div class="home-image">
      <h1 class="home-text Heading">Stock Market Price Prediction</h1>
      <form enctype="text/plain" autocomplete="on" class="home-form">
        <select autofocus class="home-select" id="companies">
          <option value="BAJAJFINSV">BAJAJFINSV</option>
          <option value="POWERGRID">POWERGRID</option>
          <option value="BAJFINANCE">BAJFINANCE</option>
            <option value="ASIANPAINT">ASIANPAINT</option>
            <option value="ONGC">ONGC</option>
            <option value="BHARTIARTL">BHARTIARTL</option>
            <option value="TITAN">TITAN</option>
          <option value="EICHERMOT">EICHERMOT</option>
          <option value="ICICIBANK">ICICIBANK</option>
            <option value="AXISBANK">AXISBANK</option>
            <option value="SBILIFE">SBILIFE</option>
            <option value="KOTAKBANK">KOTAKBANK</option>
            <option value="NESTLEIND">NESTLEIND</option>
          <option value="GRASIM">GRASIM</option>
          <option value="TCS">TCS</option>
            <option value="BPCL">BPCL</option>
            <option value="INFY">INFY</option>
            <option value="RELIANCE">RELIANCE</option>
            <option value="HDFCLIFE">HDFCLIFE</option>
            <option value="BRITANNIA">BRITANNIA</option>
        </select>
        <button type="button" class="home-button button" id="predict_btn">Predict</button>
      </form>
      <div class="table-container">
        <table id="result_table">
            <thead><tr>
                <td id="client_label">  </td>
                <td>Open Price</td>
                <td>High Price</td>
                <td>Low Price</td>
                <td>Average Price</td>
                <td>Volume</td>
            </tr></thead>
            <tbody>

            </tbody>
        </table>
      </div>
        <div class="result-label" id="result_label">
        Accuracy of the above model is:
    </div>
    </div>
  </div>
</div>
</body>
</html>
